* {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 100px;
    background: #CBD6D7;
}
.banner {
    display: flex;
}
.line {
    width: 460px;
    height: 5px;
    color: transparent;
    animate: ;
}
.text {
    margin-top: -40px;
    /* color: #7F979A; */
}

h1 {
    background-color: #929397;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* Based on this blogpost: https: //designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
}